<nav app-nav="default"></nav>

<div class="row">
  <div class="large-12 columns">
    <h2>Edit Entry</h2>
  </div>
</div>

<form name="f" id="entry-form" novalidate>

  <!-- entry.title -->
  <div class="row">
    <div class="large-12 columns {{f.title.$dirty && f.title.$invalid ? 'error' : ''}}">
      <label for="new-entry-title">Title</label>
      <input type="text"
          placeholder="Title"
          name="title"
          id="new-entry-title"
          ng-model="entry.title"
          required
          ng-minlength="5"/>
      <small class="error" ng-show="f.title.$dirty && f.title.$error.required">
        Title is required
      </small>
      <small class="error" ng-show="f.title.$dirty && f.title.$error.minlength">
        Title must contain 5 or more characters
      </small>
    </div>
  </div>

  <!-- entry.content -->
  <div class="row">
    <div class="large-12 columns {{f.content.$dirty && f.content.$invalid ? 'error' : ''}}">
      <label for="new-entry-content">Content</label>
      <textarea name="content"
          rows="5"
          cols="100"
          id="new-entry-content"
          ng-model="entry.content"
          required
          ng-minlength="5"></textarea>

      <div class="error" ng-show="f.content.$dirty && f.content.$invalid">
        <small class="error" ng-show="f.content.$error.required">
          Content is required
        </small>
        <small class="error" ng-show="f.content.$error.minlength">
          Content must contain 5 or more characters
        </small>
      </div>
    </div>
  </div>

  <!-- entry.author.name -->
  <div class="row">
    <div class="large-12 columns {{f.authorName.$dirty && f.authorName.$invalid ? 'error' : ''}}">
      <label for="new-entry-author-name">Author Name</label>
      <input type="text"
          name="authorName"
          placeholder="Author Name"
          id="new-entry-author-name"
          ng-model="entry.author.name"
          required/>
      <div class="error"
          ng-show="f.authorName.$dirty && f.authorName.$invalid">
        <small class="error" ng-show="f.authorName.$error.required">
          Author name is required
        </small>
      </div>
    </div>
  </div>

  <!-- entry.author.email -->
  <div class="row">
    <div class="large-12 columns {{f.authorEmail.$dirty && f.authorEmail.$invalid ? 'error' : ''}}">
      <label for="new-entry-author-email">Author Email</label>
      <input type="email"
          name="authorEmail"
          placeholder="Author Email"
          id="new-entry-author-email"
          ng-model="entry.author.email"
          required/>

      <div class="error"
          ng-show="f.authorEmail.$dirty && f.authorEmail.$invalid">
        <small class="error" ng-show="f.authorEmail.$error.required">
          Author email is required
        </small>
        <small class="error" ng-show="f.authorEmail.$error.email">
          Author email must be a valid email address
        </small>
      </div>
    </div>
  </div>

  <!-- submit button -->
  <div class="row">
    <div class="large-12 columns">
      <button type="submit"
          id="new-entry-submit"
          class="button small"
          ng-click="submitEntry()"
          ng-disabled="!f.$valid">
        Submit
      </button>
    </div>
  </div>
</form>
